.link-list {
  list-style: none;
  a:visited {
    color: rgb(5, 5, 5);
    text-decoration: none;
  }
}

.body-container {
  display: flex;
  justify-content: center;
  &__img-wrapper {
    width: 250px;
    margin-right: 20px;
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
}
