.link-list {
  list-style: none;
}

.body-container {
  display: flex;
  justify-content: center;
  &__img-wrapper {
    width: 250px;
    img {
      width: 100%;
      border-radius: 50%;
    }
  }
}
