.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;

  h1 {
    font-size: 20px;
  }

  .nav-links {
    display: flex;
    a {
      margin: 0 10px;
      padding: 10px;
      background-color: grey;
      border-radius: 20px;
      transition: background-color 0.5s ease-in-out;
      transition: color 0.3s ease-in-out;
      cursor: pointer;
    }
    a:hover {
      background-color: #000000;
      color: white;
    }
  }
}
