.note {
  &__container {
    display: flex;
    flex-wrap: wrap;
  }
  &__wrapper {
    flex: 1 0 28%;
    min-height: 150px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(238, 238, 74);
    border-radius: 20px;
  }
  &__top {
    display: flex;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
  }
  &__new-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__delete {
    transition: transform 300ms ease-in-out, color 200ms ease-in-out;
  }
  &__delete:hover {
    transform: scale(1.5);
    color: red;
  }
  &__button {
    transition: transform 300ms ease-in-out, color 200ms ease-in-out;
    border-radius: 100%;
    border: none;
  }
  &__button:hover {
    transform: scale(1.5);
  }
}
.new {
  background-color: aqua;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  textarea {
    background-color: inherit;
    border: none;
    &:focus {
      outline: none;
    }
  }
}
